*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #15141b;
    font-family: 'Poppins', 'sans-serif';
}

.article{
    margin-top: 3rem;
    padding: 0 2rem;
}

h3{
    color: #8681b7;
    font-weight: bold;
}

p{
    color: white;
}


/* Indicator scrollbar */

:root {
    --indicator-height: 10px;
    --indicator-color: #f600ff;
}

.progression-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--indicator-height);
    width: 0%; 
    background: var(--indicator-color);
    z-index: 1000;
}
