*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #15141b;
    font-family: 'Poppins', 'Sans-serif';
}

h3{
    color: #8681b7;
    font-weight: bold;
}

p{
    color: white;
}


